
/* responsive codes */
@media (min-width: 768px) and (max-width: 991.98px) { 
    
}

@media (min-width: 992px) and (max-width: 1199.98px) { 

}

@media (min-width: 767px) { 

}

@media (min-width: 992px) { 

}

@media (min-width: 1200px) { 

}

@media (max-width: 767px) { 

}

@media (max-width: 480px) { 

}

@media (max-width: 360px) { 

}
